# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
/.vs
/http_server/.vs/http_server/v15
/http_server/obj/x64/Debug
/http_server/http_server (2).vcxproj
/http_server/http_server.vcxproj.user
/http_server/http_server.vcxproj
/http_server/http_server.vcxproj.user
/http_server/http_server.vcxproj
